.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #DA251C;
    padding: 35px 0;
    height: 20px;
    width: 100%;
    z-index: 20;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }

  .divImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonHeader {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 3px;
  }

  .buttonHeader p {
    color: #DA251C;
    
  }

  .buttonHeader:hover {
    cursor: pointer;
  }

  .linkPage {
    text-decoration: none;
  }