.headerContainer {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: #DA251C;
    padding: 35px 0;
    height: 20px;
    width: 100%;
    z-index: 20;
  }
  
  .headerContainerButtons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: left;
  }

  .logo {
    width: 150px;
    height: auto;
  }

  .divImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.buttonHeader {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 3px;
  transition: transform 0.3s ease, padding 0.3s ease;
}

  .textButton {
    color: #DA251C;
    font-weight: 700;
  }

.buttonHeader:hover {
  cursor: pointer;
  transform: scale(1.1);
  padding: 10px;
}

  .linkPage {
    text-decoration: none;
  }