.footerContainer{
    background-color: #DA251C;
    
}

.text{
    color: white;
    font-size: 12px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.imagem{
    display: flex;
    justify-self: center;
}

.logo{
    height: 30px;
    width: 110px;
}



