.home {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #9e9e9e;
  }
  
  .header {
    background-color: #d32f2f;
    color: white;
    padding: 1rem;
  }
  
  .locker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
  }