/* Page.module.css */
.container {
  padding: 1.5rem; /* p-6 */
}

.pageTitle {
  font-size: 1.5rem; /* text-2xl */
  font-weight: bold; /* font-bold */
  margin-bottom: 1.5rem; /* mb-6 */
}

.errorMessage {
  background-color: #fee2e2; /* bg-red-100 */
  border: 1px solid #fca5a5; /* border-red-400 */
  color: #b91c1c; /* text-red-700 */
  padding: 1rem; /* px-4 py-3 */
  border-radius: 0.375rem; /* rounded */
  margin-bottom: 1rem; /* mb-4 */
}

.loaderContainer {
  display: flex; /* flex */
  justify-content: center; /* justify-center */
  align-items: center; /* items-center */
  height: 16rem; /* h-64 */
}

.loader {
  animation: spin 1s linear infinite; /* animate-spin */
  border-radius: 9999px; /* rounded-full */
  height: 3rem; /* h-12 */
  width: 3rem; /* w-12 */
  border-bottom: 2px solid #111827; /* border-b-2 border-gray-900 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noResults {
  text-align: center; /* text-center */
  color: #4b5563; /* text-gray-600 */
}

/* Page.module.css */
.homeGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 7 colunas, conforme a imagem */
  gap: 1rem; /* Espaçamento entre os itens */
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
  margin-top: 2rem;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 2rem; /* Espaçamento entre os itens da legenda */
  font-size: 0.9rem;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legendColor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.legendAvailable {
  background-color: #d1d5db; /* cinza claro */
}

.legendOccupied {
  background-color: #b91c1c; /* vermelho */
}

