.page {
    position: relative;
    height: 100vh;
    background-image: url('../public/wallpaper-home.png.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 255), rgba(255, 255, 255, 0));
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.loginBox {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loginBox h2 {
    margin-bottom: 20px;
    text-align: center;
}

.loginBox form {
    display: flex;
    flex-direction: column;
}

.loginBox label {
    margin-bottom: 5px;
}

.loginBox input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.loginBox button {
    padding: 10px;
    background-color: #e60000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.loginBox button:hover {
    background-color: #cc0000;
}