.page {
  height: 65vh;
}

.inputBox {
  align-items: center;
  margin-top: 5vh;
}

.videoDiv video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  overflow: scroll;
}

.loginBox {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fcfafaf1;
  border-radius: 8px;
  
  height: 49vh;
  margin-top: 18vh;
}

.containerMessage {
  margin-bottom: 2vh;
}

.messageError {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}

.messageSucess {
  color: #28a745;
  font-size: 14px;
  text-align: center;
}

.loginBox button {
  padding: 2vh;
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 30px;
  align-items: center;
}

.loginBox button:hover {
  background-color: #cc0000;
  cursor: pointer;
}

.loginBox h2 {
  text-align: center;
  padding: 1vh;
}

.loginBox form {
  display: flex;
  flex-direction: column;
}

.loginBox label {
  margin-bottom: 5px;
}

.loginBox input {
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}