.page {
  position: relative;
  height: 89vh;
  width: 85vw;
  background-image: url("../public/wallpaper-home.png.jpg");
  background-size: cover;
  background-position: center;
}
.loginBox {
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.inputBox {
  background: rgba(249, 247, 247, 0.8);
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  opacity: 1;
  margin-right: -130px;
  box-shadow: 1px 4px 8px rgba(10, 10, 10, 0.427);
  height: 250px;
}

.password {
  margin-bottom: -10px;
  margin: 5px;
}
.loginBox h2 {
  margin-bottom: 20px;
  text-align: center;
}

.loginBox form {
  display: flex;
  flex-direction: column;
}

.loginBox label {
  margin-bottom: 5px;
}

.loginBox input {
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

.loginBox button {
  padding: 8px;
  background-color: #e60000;
  color: white;
  font-size: 16px;
  border: none;
  width: 100px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 80px;
  align-items: center;
}

.loginBox button:hover {
  background-color: #cc0000;
  cursor: pointer;
}
.h2 {
  text-align: center;
  color: #ef1919;
}

.containerMessage {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
}

.messageSucess {
  color: black;
}

.messageError {
  color: #ef1919;
}