.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    background-color: #f1f1f1;
}

.divImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageStudent {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.divAge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.divClassRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.divName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textName {
    font-size: 18px;
}

.divClass {
    background-color: #DA251C;
    padding: 0.5rem;
    border-radius: 8px;
    color: white;
}